.checkbox-container {
  display: flex;
  flex-direction: column;
}

.checkbox-container input {
  visibility: hidden;
}

.checkbox {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  background-image: url(../svg/);
  background-size: 100% 100%;
}

.checkbox-container input:checked + .checkbox {
  background-image: url(../svg/on.svg);
}

.checkbox-container input:focus + .checkbox {
  background-image: url(../svg/off-focused.svg);
}

.checkbox-container input:focus:checked + .checkbox {
  background-image: url();
}

.checkbox-container input:disabled + .checkbox {
  background-image: url();
}

.checkbox-container input:disabled:checked + .checkbox {
  background-image: url();
}
